{% extends 'base.html' %}

{% block head %}
<title>Update task</title>
{% endblock %}

{% block body %}
<div class="text-center">
    <nav>
        <h1>Task master</h1>
    </nav>
    <h2>Edit task:</h2>
    <form action="/update/{{task.id}}" method="POST">
        <input type="text mb-4" name="content" id="content" value={{task.content}}>
        <div class="my-4">
            <input class="btn btn-primary"type="submit" value="Save">
            <button class="btn btn-secondary"><a href="{{ url_for('index')}}">Go back</a></button>
        </div>
    </form>
</div>
{% endblock %}